<!DOCTYPE html>

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text" th:utext="#{l.settings}">Settings</h5>
                <ul>

                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text" th:utext="#{connect}">Connect</h5>
                <ul>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>