<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="google-signin-client_id" content="942225310522-2hd4mnq3qaq9asnsi958qsjsr0q1c0cn.apps.googleusercontent.com ">
    <title>Weatherly</title>
    <th:block th:include="fragments/head"/>
</head>

<body>

<th:block th:replace="fragments/navigation"/>



  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

        <div class="row center">
            <h5 th:text="${weather}"></h5>
        </div>

        <div class="row center">
            <h5 th:text="${location}"></h5>
        </div>
    </div>
  </div>
        <br><br>


    <form class=" hide-on-med-and-down" id="searchBar" >
      <div class="input-field row center" style="max-width: 400pt;">
        <input id="search" type="text" placeholder="Country,Region,City">
          <input class="btn-small waves-effect waves-light light-blue" type="submit" value="Search" onclick="getWeather()">
      </div>
    </form>



    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
 <!-- </div> -->


  <th:block th:replace="fragments/footer"/>

  <!--  Scripts-->

  <script type="text/javascript" th:src="@{/js/https://code.jquery.com/jquery-2.1.1.min.js.js}"></script>
  <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
  <script type="text/javascript" th:src="@{/js/index.js}"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  </body>
</html>
