<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org" manifest="offline.appcache">

<head>
    <title>Weatherly</title>

</head>



<body>

  <th:block th:include="fragments/head"> </th:block>
  <th:block th:replace="fragments/navigation"></th:block>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

        <div class="row center">
            <h5 th:text="${weather}"></h5>
        </div>

        <div class="row center">
            <h5 th:text="${location}"></h5>
        </div>
    </div>
  </div>
        <br><br>

<!--     value="Search"  th:utext='#{search}'-->
    <form class=" hide-on-med-and-down" id="searchBar" >
      <div class="input-field row center" style="max-width: 400pt;">
        <input id="search" type="text" placeholder="Country,Region,City">
          <input class="btn-small waves-effect waves-light light-blue" type="reset" th:value="#{search}"  onclick="getWeather()">
      </div>
    </form>



    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
 <!-- </div> -->




  <!--  Scripts-->

  <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
  <script type="text/javascript" th:src="@{/js/index.js}"></script>
  <script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>

  <th:block th:replace="fragments/footer" > </th:block>

</body>


</html>
