<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org" manifest="offline.manifest">

<head>
    <title>Login page</title>
    <th:block th:include="fragments/head"/>
</head>

<body>
    <th:block th:replace="fragments/navigation"/>

    <h2>Log in:</h2>
    <p><a href="/login/google">Google login</a></p>
    <p><a href="/login/facebook">Facebook login</a></p>
    <br> <br>
    <h2>Upload file</h2>
    <br>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <label for="userfile">Your file:</label>
        <input type="file" id="userfile" name="file" /><br/><br/>
        <input type="submit" value="Submit" />
    </form>
    </form>
</body>
</html>