<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="google-signin-client_id" content="942225310522-2hd4mnq3qaq9asnsi958qsjsr0q1c0cn.apps.googleusercontent.com ">
    <title>Login page</title>
    <th:block th:include="fragments/head"/>
</head>

<body>
    <th:block th:replace="fragments/navigation"/>

    <h2>Log in:</h2>
    <p><a href="/login/google">Google login</a></p>
    <p><a href="/login/facebook">Facebook login</a></p>
</body>
</html>