<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Weatherly - Sitemap</title>
</head>


<body class="cloudy">
<th:block th:include="fragments/head"> </th:block>
<th:block th:replace="fragments/navigation"> </th:block>

<br><br>

<div id="main-content" class="container">

    <table style="width:100%">
        <tr>
            <th>Website</th>
            <th>Link</th>
        </tr>
        <tr>
            <td style="font-weight: bold">Log in</td>
            <td> <p><a href="https://weatherly.me/login">Google login</a></p></td>
        </tr>
        <tr>
            <td style="font-weight: bold">Homepage</td>
            <td> <p><a href="https://weatherly.me">Home login</a></p></td>
        </tr>
        <tr>
            <td style="font-weight: bold">Statistics</td>
            <td> <p><a href="https://weatherly.me/stats">Stats</a></p></td>
        </tr>
        <tr>
            <td style="font-weight: bold">Webchat</td>
            <td> <p><a href="https://weatherly.me/webchat">Webchat</a></p></td>
        </tr>
        <tr>
            <td style="font-weight: bold">User only</td>
            <td> <p><a href="https://weatherly.me/user">Member Space</a></p></td>
        </tr>
        <tr>
            <td style="font-weight: bold">User Policy</td>
            <td> <p><a href="https://weatherly.me/UserPolicy">User policy</a></p></td>
        </tr>

    </table>

</div>


<br><br>

</body>
</html>