<!DOCTYPE html>

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">


<head>
    <th:block th:include="fragments/head"/>
    <title>Weatherly - Statistics</title>
    <title th:utext="#{websitestatistics}">Website statistics</title>
</head>




<body>

    <th:block th:replace="fragments/navigation"/>


    <div class="container">

        <div class="row center">
            <h3 th:utext="#{websitestatistics}"></h3>
        </div>

        <br><br>

        <canvas class="row left" id="browserCanvas"></canvas>
        <canvas class="row right" id="osCanvas"></canvas>

        <div class="row left" id="browserLegend"></div>
        <div class="row right" id="osLegend"></div>

        <br><br>

        <div id="googleMap" style="width:100%;height:400px;"></div>

        <script>
            function myMap() {
                var myCenter = new google.maps.LatLng(58.850, 25.333);
                var mapCanvas = document.getElementById("googleMap");
                var mapOptions = {center: myCenter, zoom: 5};
                var map = new google.maps.Map(mapCanvas, mapOptions);
                var marker = new google.maps.Marker({position:myCenter});
                marker.setMap(map);
            }
        </script>

    </div>



    <!--  Scripts-->
    <script type="text/javascript" th:src="@{/js/pieChart.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyMat6KCyerFtOJ6NthMvYb9AwiONRRGM&callback=myMap"></script>
</body>
</html>