<!DOCTYPE html>

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">


<head>
    <th:block th:include="fragments/head"/>
    <title>Weatherly - Statistics</title>
    <title th:utext="#{websitestatistics}">Website statistics</title>
</head>




<body>

    <th:block th:replace="fragments/navigation"/>


    <div class="container">

        <div class="row center">
            <h3 th:utext="#{websitestatistics}"></h3>
        </div>

        <br><br>

        <canvas class="row left" id="browserCanvas"></canvas>
        <canvas class="row right" id="osCanvas"></canvas>

        <div class="row left" id="browserLegend"></div>
        <div class="row right" id="osLegend"></div>

    </div>


    <!--  Scripts-->
    <script type="text/javascript" th:src="@{/js/pieChart.js}"></script>
</body>
</html>