<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org" manifest="offline.appcache">

<head>
    <th:block th:include="fragments/head"/>
    <title>Weatherly - User</title>
</head>

<body>
    <th:block th:replace="fragments/navigation"/>

    <div class="container">
        <h3>This is a restricted page shown only to registered users.</h3>

        <p>Enjoy it, you lucky bastard</p>
    </div>

    <div>
       <a href="/logout">Log out</a>
    </div>

    <script type="text/javascript">

        var logout = function () {
            $.post("/logout");
            return true;
        }
    </script>

</body>
</html>