<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org" manifest="offline.appcache">

<head>
    <th:block th:include="fragments/head"/>
    <title>Weatherly - User</title>
</head>

<body>
    <th:block th:replace="fragments/navigation"/>

    <div class="container">
        <h3>This is a restricted page shown only to registered users.</h3>

        <p>Enjoy it, you lucky bastard</p>
    </div>

    <form method="post" action="/user/submitLocation" class="hide-on-med-and-down" id="searchBar">
        <div class="input-field row center" style="max-width: 400pt;">
            <input id="userLocation" type="text" name="userLocation" placeholder="Country,Region,City">
            <input type="submit" th:value="#{addLocation}">
            <!--<input class="btn-small waves-effect waves-light light-blue" type="reset" th:value="#{addLocation}"  onclick="submitLocation()"/>-->
        </div>
    </form>

    <div>
        <form method="post" action="/logout">
            <input type="submit" class="btn-small waves-effect waves-light light-green" th:value="#{logout}">
        </form>
    </div>
</body>
</html>