<!DOCTYPE html>

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org" manifest="offline.appcache">

<head>
    <th:block th:include="fragments/head"/>
    <title>Weatherly - Weather</title>
</head>



<body>

    <th:block th:replace="fragments/navigation"/>



        <div class="container" align="left">
            <br><br>

            <div class="row left-align">
                    <h5 th:utext="#{weatherState} + ${weatherState}"></h5>
            </div>

            <div class="row left-align">
                    <h5 th:utext="#{temperature} + ${temperature} + ' °C'"></h5>
            </div>

            <div class="row left-align">
                <h5 th:utext="#{precipitation} + ${precipitation} + ' mm'"></h5>
            </div>

            <div class="row left-align">
                 <h5 th:utext="#{windSpeed} + ${windSpeed} + ' m/s'"></h5>
            </div>

            <div class="row left-align">
                <h5 th:utext="#{windDirection} + ${windDirection}"></h5>
            </div>

        </div>





</body>







</html>