<!DOCTYPE html>

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head"/>
    <title>Weatherly - Weather</title>
</head>



<body>

    <th:block th:replace="fragments/navigation"/>



        <div class="container" align="left">
            <br><br>

            <div class="row left-align">
                <h5 th:text="'Weather state: ' + ${weatherState}"></h5>
            </div>

            <div class="row left-align">
                    <h5 th:text="'Temperature: ' + ${temperature} + ' °C'"></h5>
            </div>

            <div class="row left-align">
                <h5 th:text="'Precipitation: ' + ${precipitation} + ' mm'"></h5>
            </div>

            <div class="row left-align">
                 <h5 th:text="'Windspeed: ' + ${windSpeed} + ' m/S'"></h5>
            </div>

            <div class="row left-align">
                <h5 th:text="'Wind Direction: ' + ${windDirection}"></h5>
            </div>

        </div>





</body>







</html>